.home{

background:#f8fafc;
min-height:100vh;

}


/* HERO */


.hero{

height:650px;

background:
linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.55)
),
url("https://images.unsplash.com/photo-1503376780353-7e6692767b70");

background-size:cover;

background-position:center;

display:flex;

align-items:center;

padding-left:10%;

color:white;

}



.hero-content h1{

font-size:60px;

line-height:1.1;

font-weight:800;

}


.hero-content p{

font-size:22px;

margin:25px 0;

}



.hero-btn{

background:#f59e0b;

border:none;

padding:15px 35px;

font-size:18px;

border-radius:30px;

cursor:pointer;

}





/* FEATURES */


.features{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:25px;

padding:50px 8%;

}



.feature-card{

background:white;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:
0 10px 30px rgba(0,0,0,.08);

}



.feature-card h2{

font-size:30px;

}





/* FEATURED */


.featured{

padding:50px 8%;

}



.featured h2{

text-align:center;

font-size:40px;

margin-bottom:50px;

}




.car-grid{

display:grid;

grid-template-columns:
repeat(3,1fr);

gap:35px;

}





.car-card{

background:white;

border-radius:25px;

overflow:hidden;

box-shadow:
0 15px 35px rgba(0,0,0,.12);

transition:.3s;

}



.car-card:hover{

transform:translateY(-12px);

}




.car-card img{

width:100%;

height:240px;

object-fit:cover;

}




.car-info{

padding:25px;

}



.car-info h3{

font-size:25px;

}



.car-info p{

color:#64748b;

font-size:18px;

}




.price{

font-size:22px;

font-weight:bold;

color:#f59e0b;

margin:20px 0;

}




.car-info button{

width:100%;

padding:14px;

border:none;

background:#111827;

color:white;

border-radius:12px;

font-size:16px;

cursor:pointer;

}



.car-info button:hover{

background:#f59e0b;

}





/* RESPONSIVE */


@media(max-width:900px){


.features{

grid-template-columns:repeat(2,1fr);

}



.car-grid{

grid-template-columns:1fr;

}



.hero-content h1{

font-size:40px;

}


}



@media(max-width:500px){


.features{

grid-template-columns:1fr;

}


.hero{

padding-left:5%;

}


}